@model MultiMinesweeper.Model.SignIn

@{
    Layout = "_Layout";
}


@section Styles
{
}

@section LibStyles
{
}

@section Scripts
{
    <script type="text/javascript">
 
    </script>
}


<div id="sigin-form" class="container-fluid">
    <div class="row">
        <div class="offset-4 col-md-4">
            <div>
                <form method="post" action="@Url.Action("SignIn", "Auth")">
                    @Html.AntiForgeryToken()
                    <h3 align="center">Авторизация</h3>
                    <div class="input-group">
                        <input placeholder="Логин" id="login" class="form-control mb-3" type="text" name="Login" value="@Model.Login" required>
                    </div>
                    <div class="input-group">
                        <input placeholder="Пароль" id="password" class="form-control mb-3" type="password" name="Password" required>
                    </div>
                    <div class="form-group">
                        <button type="submit" id="btn" class="btn btn-outline-primary  btn-block">Войти</button>
                    </div>
                    <div class="form-group">
                        <a href="@Url.Action("Register", "Auth")">Регистрация</a>
                        <a class="offset-7" href="@Url.Action("Index", "Home")">Новости</a>
                    </div>
                </form>
                <p class="text-danger" >@Model.Message</p>
            </div>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>